{% extends 'ShopBundle::base.html.twig' %}

{% block title %}
    Superstore:: Main page :: Select category !
{% endblock %}

{% block body %}
    <br />


    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Gold store</h1>
                </div>
            </div>
        </div>
    </header>
    <div class="container">

        <hr />



        {# categories #}
        {% if categories|length > 0 %}
            <div class="category-row">
                {% for category in categories %}
                    <div class="pull-left cell">
                        <a href="{{ path('category_show', { 'page': 1 , 'slug': category.slug }) }}">
                            <div class="image spaced">
                                <img class="img" 
                                     src="{{ category_path }}thumb/{{ category.image }}"
                                     alt="Category: {{ category.title }}, added :{{ category.added|date('Y-m-d H:i:s') }}" />
                            </div>
                            <div class="details h-spaced">{{ category.title }}</div>
                            <div class="spaced"></div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="row media" data-status="">
                <center>No one categories exist, plese create at least one ! </center>
            </div>
        {% endif %}
        {# //categories #}



        <hr />

        {# possible pace for --products--  #}

        <hr />

        <div class="header">last Products:</div>
        <div class="row last-products">
            {# lastProducts in current or from all category #}

            {% for product in lastProducts %}
                {% if product.available > 0 %}
                    <div class="last-product pull-left cell">
                        <a href="{{ path('product_show', { 'slug': product.slug }) }}" title="{% if product.added %}Added: {{ product.added|date('d/m/y H:i:s') }}{% endif %}, {% if product.viewed %}Viewed:{{ product.viewed }} times{% endif %}, {% if product.lastViewed %}Last viewed: {{ product.lastViewed|date('d/m/y H:i:s') }} {% endif %}">
                            {% include 'ShopBundle::product_one.html.twig'%}
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="clearfix"></div>
            {# //popularProducts #}
        </div>

        <hr />

        <div class="header">popular Products:</div>
        <div class="row popular-products">
            {# popularProducts in current or from all category #}

            {% for product in popularProducts %}
                {% if product.available > 0 %}
                    <div class="popular-product pull-left cell">
                        <a href="{{ path('product_show', { 'slug': product.slug }) }}" title="{% if product.added %}Added: {{ product.added|date('d/m/y H:i:s') }}{% endif %}, {% if product.viewed %}Viewed:{{ product.viewed }} times{% endif %}, {% if product.lastViewed %}Last viewed: {{ product.lastViewed|date('d/m/y H:i:s') }} {% endif %}">
                            {% include 'ShopBundle::product_one.html.twig'%}
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="clearfix"></div>
            {# //popularProducts #}
        </div>

        <hr />

        <div class="row">
            <div class="col-sm-8">
                <h2>Welcome to our shop</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.</p>
            </div>
            <div class="col-sm-4">
                <h2>Contact Us</h2>
                <hr />
                <address>
                    <strong>Deep gold mining</strong>
                    <br />51 Nowhere drive
                    <br />Silicon Walley, CA 98765
                    <br />
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>(123) 456-78-90
                    <br />
                    <abbr title="Email">E:</abbr> <a href="mailto:#">user@server.com</a>
                </address>
            </div>
        </div>
        <!-- /.row -->

        {% include 'ShopBundle::footer.html.twig'%}

    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        .blog a{text-shadow: 0 -1px #ccc, 0 1px #000; /*animation: blinker 1s linear infinite;*/}    
        .blog a:hover{text-shadow: unset;}

        @keyframes blinker {  
            50% { opacity: 0; }
        }
    </style>
{% endblock %}


{% block snippet %}

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $(".navbar-brand").addClass("active");
        });

        $('#modal').on('hidden', function () {
            $("#navbar ul li").removeClass("active");
        });

        (function blink() {
            //$('.blog').delay(1200).fadeOut(600).fadeIn(300, blink); 
        })();
    </script>
{% endblock %}
